<h1>Schedule an Appointment:</h1>
<br>

<%= render partial: "layouts/errors", locals: {object: @appointment} %>
<!-- render the errors partial, send it the @appointment as the 'object' -->

<%= render 'form' %>
